In [165]:
from sklearn import tree
import pandas as pd
import os
import numpy as np

In [87]:
df = pd.read_csv("combine_data.csv")
for col in df.columns.values:
    df[col].fillna(0)
# this step needs to look at .
#df = df.fillna(0)
#df['policy_code'] = df['policy_code'].astype(int)
#df['emp_length'] = df['emp_length'].astype(int)
#df['dti'].fillna(0)
df['dti'] = df['dti'].str.rstrip('%').astype('float')
df = df.rename(columns = {"Unnamed: 0":"Sl_No"})
df.set_index('Sl_No')


df.head()

   Sl_No  loan_amnt  fico_range_avg    dti  emp_length  policy_code
0      0     5000.0           737.0  27.65        10.0          1.0
1      1     2500.0           742.0   1.00         1.0          1.0
2      2     2400.0           737.0   8.72        10.0          1.0
3      3    10000.0           692.0  20.00        10.0          1.0
4      4     3000.0           697.0  17.94         1.0          1.0

In [76]:
target = df["policy_code"]
data = df.drop(["policy_code","Sl_No"], axis=1)
data.fillna(0)
feature_names = data.columns
data.head()

   loan_amnt  fico_range_avg    dti  emp_length
0     5000.0           737.0  27.65          10
1     2500.0           742.0   1.00           1
2     2400.0           737.0   8.72          10
3    10000.0           692.0  20.00          10
4     3000.0           697.0  17.94           1

In [163]:
def RF_Model():
    #callable function. returns a dictionary with values to be used, including a data frame key-element pair.
    
    RF_Dict = {}
    df = pd.read_csv("combine_data.csv")
    df = df.fillna(0)
    df['policy_code'] = df['policy_code'].astype(int)
    df['emp_length'] = df['emp_length'].astype(int)
    df['dti'].fillna(0)
    df['dti'] = df['dti'].str.rstrip('%').astype('float')
    df = df.rename(columns = {"Unnamed: 0":"Sl_No"})
    df.set_index('Sl_No')
    
    target = df["policy_code"]
    data = df.drop(["policy_code","Sl_No"], axis=1)
    data.fillna(0)
    feature_names = data.columns

    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42,test_size=0.4)

    clf = tree.DecisionTreeClassifier()
    clf = clf.fit(X_train, y_train)
                          
    RF_Dict["clf"] = clf
    RF_Dict["clf score"] = clf.score(X_test, y_test)

    from sklearn.ensemble import RandomForestClassifier
    rf = RandomForestClassifier(n_estimators=200)
    rf = rf.fit(X_train, y_train)
                          
    RF_Dict["rf"] = rf
    RF_Dict["rf score"] =  rf.score(X_test, y_test)


    sorted(zip(rf.feature_importances_, feature_names), reverse=True)
    df['dti'].fillna(0)
    df['dti'] = df['dti'].str.rstrip('%').astype('float')
    df = df.rename(columns = {"Unnamed: 0":"Sl_No"})
    df.set_index('Sl_No')
                          
    RF_Dict["sorted"] = sorted(zip(rf.feature_importances_, feature_names), reverse=True)
    RF_Dict["df"] = df
    return RF_Dict
len(y_train.values)

55525

In [166]:
import numpy.random as rand
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42,test_size=0.4)

xTrain = []
yTrain = []
numA = rand.randint(0, len(X_train.values), 10) #largest sample size that reasonably works

for n in numA:
    xTrain.append(X_train.values[n])
    yTrain.append(y_train.values[n])
    
xTrain = np.asarray(xTrain)
yTrain = np.asarray(yTrain)





#clf.score(X_test, y_test)

In [169]:

clf = tree.DecisionTreeClassifier()
clf = clf.fit(xTrain, yTrain)
clf.score(X_test[:100], y_test[:100])

0.71

In [168]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train[:80], y_train[:80])
rf.score(X_test[:80], y_test[:80])

0.825

In [109]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.5717184806962102, 'fico_range_avg'),
 (0.26259969760654256, 'dti'),
 (0.10137910477219055, 'loan_amnt'),
 (0.06430271692505665, 'emp_length')]

In [117]:
#Auc plot
# plots with target and variable
# recall =
from sklearn.metrics import confusion_matrix
predictions = clf.predict(X_test[:100])

print(f"First 100 Predictions:   {predictions[:100]}")
print(f"First 100 Actual labels: {y_test[:100].tolist()}")

First 100 Predictions:   [1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 1 1 1 0 1 0 0 1 1 1 0 0 0 0 1 0 0
 1 1 0 0 1 0 0 0 0 0 0 1 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0 1 0 1 1 0
 0 1 0 1 0 0 1 1 0 0 1 1 0 1 1 0 1 0 0 0 0 1 1 0 0 0]
First 100 Actual labels: [1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1]

In [122]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test[:len(predictions)]}).reset_index(drop=True)
len(predictions)

100

In [123]:
cnf = confusion_matrix(y_test[:100], predictions)
tp, fp, fn, tn = confusion_matrix(y_test[:100], predictions).ravel()
print(f"tn: {tn:3d}   fp: {fp:3d}")
print(f"fn: {fn:3d}   tp: {tp:3d}")
cnf

tn:  29   fp:   8
fn:  14   tp:  49

array([[49,  8],
       [14, 29]], dtype=int64)

In [ ]:
# recall = tp/tp+fn
# precision = tp/tp +fp
# accuracy = tp+tn/total

print(f"recall:{tp/(tp+fn)}")
print(f"precision:{tp/(tp +fp)}")
print(f"accuracy:{(tp+tn)/(tp+tn+fn+fp)}")